<header>
  <nav>
    <ul class="navbar-list">
      <li>
        <%= render partial: 'partials/navbar_icon' %>
      </li>
      <li>
        <p><%= render partial: 'partials/navbar_title' %></p>
      </li>
      <li>
        <% if current_user %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <span data-icon="charm:sign-out"></span>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <span data-icon="charm:sign-in"></span>
          <% end %>
        <%end%>
      </li>
    </ul>
  </nav>
</header>