<div class="splash-screen">
  <h1 class="splash-text">کھاتہ</h1>
  <div class="reg-buttons-div">
    <%= link_to "Log In", new_user_session_path, class: "login-btn" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "reg-btn" %>
  </div>
</div>
