<div class="category_card">
  <div class="category_card_left">
    <p class="category_icon">
      <%= image_tag "#{category.icon}", style: 'height:50px; width:50px;' %>
    </p>
    <p><%= category.name %></p>
  </div>
  <p>$ <%= category.total_amount %></p>
</div>
